rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /employees/{id} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.token.firebase.sign_in_provider != "anonymous";
    }
    match /attendance/{id} {
      allow read, write: if request.auth != null;
    }
    match /leaves/{id} {
      allow read, write: if request.auth != null && request.auth.token.firebase.sign_in_provider != "anonymous";
    }
    match /holidays/{id} {
      allow read, write: if request.auth != null && request.auth.token.firebase.sign_in_provider != "anonymous";
    }
    match /overtime/{id} {
      allow read, write: if request.auth != null && request.auth.token.firebase.sign_in_provider != "anonymous";
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
